# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
qt4i.egg-info/
_qt4i_version_stub.py
version.txt

# debug 
debug/
*.log

# MacOS system auto gen
*.DS_Store

# Sphinx documentation
docs/_build

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile.lock

# IDE
.idea
.vscode
.settings
*.bak
